* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF8E1;
}

.header {
  color: #646681;
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  margin: 2rem auto 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.add-and-filter {
  display: flex;
  justify-content: space-between;
}

.filter {
  border: none;
  border-radius: 6px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  height: auto;
  overflow: hidden;
  padding: 1rem;
  width: 150px;
  text-decoration: none;
  text-transform: capitalize;
  background: #ADA2FF;
}

.task-container {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  margin: 20px auto 0;
  padding: 2rem;
  align-items: center;
  border-radius: 8px;
  background-color: #C0DEFF;

  input[type='checkbox'] {
    width: 25px;
    aspect-ratio: 1;
  }

  &:nth-child(even) {
    background-color: #f5a8cc;
  }
}

.task {
  display: flex;

  h4 {
    margin: 0;
    font-size: 16px;
  }
}

.task-details {
  align-self: center;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.icon-container {
  padding: 0.5rem;
  background-color: #eee;
  border-radius: 10%;
}

.icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.todo-modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.modal-content {
  position: relative;
  background-color: #ecedf6;
  margin: auto;
  width: 90%;
  max-width: 500px;
  background-color: #ecedf6;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
}

.modal-close-button {
  border-radius: 4px;
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  padding: 0.5rem 0.7rem;
  background-color: #eee;
  top: -10px;
  transform: translateY(-100%);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e32525;
    color: white;
  }
}

.modal-input {
  width: 100%;

  input,
  select {
    padding: 1rem;
    border: none;
    font-size: 2rem;
  }
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  gap: 1rem;

  .button {
    display: inline;
  }
}

.button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  height: auto;
  overflow: hidden;
  padding: 0.8rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
  align-self: center;

  &.cancel {
    background: #cccdde;
    color: #646681;
  }

  &.submit {
    background: #646ff0;
    color: #fff;
  }
}

.modal-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #646681;
  font-size: 2rem;
  font-weight: 600;
}

.modal-label {
  display: block;
  font-size: 1.6rem;
  color: #646681;
  margin-bottom: 7px;
}
